.campaign-show-header{
  display: flex;
  justify-content: center;
  // flex-wrap: wrap;
  .campaign-show-header-info{
    margin-left: 20px;
    width: 483px;
    height: 456px;
    .funding{
      font-size: 14px;
      margin-bottom: 20px;
      color: $dodo-blue;
    }
    .campaign-show-title{
      font-size: 32px;
      margin-bottom: 20px;
    }
    .campaign-show-overview{
      font-size: 20px;
      margin-bottom: 24px;
    }
  }
}

.campaign-show-header img{
  max-width: 700px;
}

.campaign-owner{
  display: flex;
  margin-bottom: 32px;
  .user-icon-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    .user-img{
      width: 55px;
      height: 44px;
    }
  }
  .user-icon-show-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .user-name{
      font-family: $indiefonto;
      font-size: 20px;
      font-weight: 100;
      margin-bottom: 5px;
      // color: #6A6A6A;
    }
  }
}


.raised-bar-show-cont {
  width: 485px;
  margin-top: 5px;
  background-color: rgb(189, 189, 189);
  margin-bottom: 5px;
  height: 10px;
  border-radius: 8px;
}

.raised-bar {
  background-color: $dodo-blue;
  height: 100%;
  border-radius: 8px;
}

.campaign-show-header-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  .campaign-show-buttons-container{
    display: flex;
    .backit{
      margin-right: 14px;
      button{
        color: #fff;
        background-color: $dodo-blue;
        border: 1px solid $dodo-blue;
        border-radius: 2px;
        cursor: pointer;
        min-width: 112px;
        height: 50px;
        font-family: $roboto;
        font-size: 14px;
        letter-spacing: 1px;
      }
      button:hover{
        background-color:  #487488
      }
    }
  }
  .follow{
    button{
      color: #2a2a2a;
      // background-color: white;
      // border: 1px solid $dodo-blue;
      border-radius: 2px;
      cursor: pointer;
      min-width: 130px;
      height: 50px;
      font-family: $roboto;
      font-size: 14px;
      letter-spacing: 1px;
      .follow-icon{
        transform: translate(0px, 2px);
        padding-right: 5px;
      }
    }
    button:hover{
      background-color: #f8f8f8;
    }
  }

  .share-icon-container-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .share-icon-container{
      display: flex;
      justify-content: flex-end;
      width: 152px;
      .share-icons{
        width: 40px;
        height: 22px;
      }
    }    
  }
}

.raised-text-cont {
  display: flex;
  justify-content: space-between;
}

.show-info-container {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
  .show-perks{
    .perk-item{
      height: 430px;
      width: 305px;
      border-style: solid;
      border-width: 2px;

    }
  }
}

.show-center-info-container {
  max-width: 697px;
  margin-right: 20px;
}

.show-info-header {
  margin: 30px 0px 30px 0px;
}

.youtube {
  margin-top: 30px;
}

.perk-image {
  width: 335px;
  height: 224px;
}