.footer-container{
    border-top: 3px solid $bordergray;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;
}

.footer-head {
    font-size: 16px;
    color: #2a2a2a;
    margin-bottom: 5px;
    font-weight: bolder;
}

.footer-li {
    font-size: 14px;
    color: #2a2a2a;
}
