//GLOBAL VARIABLES
$roboto: 'Roboto', sans-serif;
$indiefonto: 'Passion One', sans-serif;

$dodo-blue: #4e7a8f;
$fb-blue: #4266B2;
$money: #4FCA96;
$bordergray: #DDDDDD;
$indiegray: #6A6A6A;

//GLOBAL STYLES
body{
    font-family: $roboto;
}