.landing-main{
    margin: 6px;
}

.featured-container{
    width: 100%;
    height: 468px;
}

.trending-container{
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 15px;
    padding-right: 15px;
}

.recents-container{
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 15px;
    padding-right: 15px;
}