.featured-container{
    width: 100%;
    height: 468px;
}

.trending-container{
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 15px;
    padding-right: 15px;
}

.recents-container{
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 15px;
    padding-right: 15px;
}


.banner-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 48px;
}
