.modal-container{
  z-index: 2000000001;
  transition: all .3s cubic-bezier(.16,.8,.45,1);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.6);
  overflow: scroll;
}

.modal-component {
  margin-top: 100px;
  position: relative;
  width: 420px;
  // height: 625px;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0 2px 6px -4px rgba(0,0,0,.2), 0 8px 10px -4px rgba(0,0,0,.14), 0 8px 12px 4px rgba(0,0,0,.05);
  border-radius: 2px;
  padding: 30px
}