.nav-container{
    margin: 15px 4px 12px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.nav-container * {
    display: flex;
    align-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    &:hover{
        color: $dodo-blue;
    }
}

.logo{
    width: 30px;
    height: 30px;
}

.brand{
    display: flex;
    width: 200px;
}

.wordmark{
    font-family: $indiefonto;
    font-size: 36px;
    color: $dodo-blue;
    width: 120px;
}

.search-container * {
    padding: 6px;
}

.explore-container:hover * {
    color: $dodo-blue;
}

.nav-right {
    transform: translate(0px, -1px);
    font-size: 14.5px;
    font-weight: 500;
    letter-spacing: .4px;
}
.nav-right * {
    padding: 6px;
}

.new-campaign {
    border-right: .75px solid rgb(197, 195, 195);
    &-link{
        margin-right: 12px;
    }
}

.login-signup{
    padding-left: 17px;
    #login-nav-button{
        margin-right: 12px;
    }
}

.new-link{
    padding-right: 12px;
}