.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
}

.nav-left{
    display: flex;
    a{
        font-size: 2em;
    }
}

.nav-right{
    display: flex;
    a{
        margin: 5px;
    }
}

.logo{
    width: 30px;
    height: 30px;
}