.user-menu{
    float: right;
    display: flex;
    flex-direction: column;
    overflow: hidden;  
}
.user-menu a {
    float: right;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 45px;
    right: -5px;
    // transform: translate(0px, 6px);
    border: 1px solid $bordergray;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2000 !important;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content button {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
    font-size: 16px;
    font-family: $roboto;
    padding: 14px 16px;
  }
  
  /* Add a grey background color to dropdown links on hover */
  
  /* Show the dropdown menu on hover */
  .user-menu:hover .dropdown-content {
    display: block;
  }

  .user-nav{
    height: 20px;
  }