.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px;
}

.register-form{
    button{
        background-color: $dodo-blue;
        height: 25px;
        margin: 5px;
    }
}

.register-header{
    text-align: center;
    margin: 10px; 
    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 42px;
    }
}

.register-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    input{
        height: 25px;
        margin: 5px;
    }
    span{
        font-size: 12px;
    }
}

.register-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    button{
        height: 25px;
        margin: 5px;
    }
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px;
}

.login-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    button{
        height: 25px;
        margin: 5px;
    }
    .login-button{
        background-color: $dodo-blue;
    }
    .fb-button{
        background-color: $fb-blue;
    }
}

.login-header{
    text-align: center; 
    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 42px;
    }
}

.login-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    input{
        height: 25px;
        width: 100%;
        margin: 5px;
    }
}

.session-switch{
    font-size: 12px;
}

.login-links{
    font-size: 12px;
    text-align: right;
}