.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    #forgot-password{
        display: flex;
        text-decoration: underline;
        justify-content: flex-end;
        padding: 14px 4.5px 30px;
    }
}


.register-header{
    text-align: center;
    margin: 10px; 
    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 35px;
        padding-top: 4px;
        padding-bottom: 6px;
    }
    p{
        padding: 10px;
        color: gray;
        font-weight: 300;
        padding-bottom: 14px;
    }
}

.register-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .input-container{
        input{
            height: 42px;
            margin: 5px;
            width: 352px;
            font-family: $roboto;
            padding-left: 16px;
            font-size: 14px;
            &::placeholder{
                color: #9D9D9D;
            }
        }
    }
    &-title{
        margin-left: 5px;
        font-weight: 300;
        margin-bottom: 3px;
        margin-top: 16px;
    }
    span{
        font-size: 12px;
    }
    .checkbox-container{
        width: 100%;
        margin-top: 14px;
        display: flex;
        align-items: center;
        span{
            font-size: 15px;
            color: #545454;
            font-weight: 400;
            a{
                color: black;
                &:hover{
                    color: rgb(15, 121, 170);
                }
            }
        }
    }
    .session-checkbox{
        display: none;
    }
    .session-checkbox + label{
        margin-right: 14px;
        border: 1px solid #cacece;
        padding: 9px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        display: inline-block;
        border-radius: 3px;
        position: relative;
        background-color: white;
    }
    .session-checkbox + label:active, .session-checkbox:checked + label:active {
	    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }
    .session-checkbox:checked + label {
        border: 1px solid black;
        background-color: black;
    }
    .session-checkbox:checked + label:after {
	    content: '\2714';
        position: absolute;
        top: 0px;
        align-self: flex-end;
        left: 3px;
        transform: translate(1px, 2px);
        font-size: 14px;
        color: white;
    }
    .checkbox-label{
        display: inline;
    }
}

.register-buttons{
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    button{
        cursor: pointer;
        height: 41px;
        margin: 5px;
        color: white;
        font-size: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .create-account{
        background-color: $dodo-blue;
    }
    .guest-login{
        background-color: #FB3922;
    }
    p{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: 300;
        font-size: 14.9px;
        color: rgb(107, 99, 99);
    }
}

.login-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    button{
        height: 25px;
        margin: 5px;
    }
    .login-button{
        background-color: $dodo-blue;
        cursor: pointer;
    }
    .fb-button{
        background-color: $fb-blue;
        cursor: pointer;
    }
}

.login-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    input{
        height: 25px;
        width: 100%;
        margin: 5px;
    }
}

.session-switch{
    font-size: 15px;
    color: #1d1c1c;
    font-weight: 300;
    margin-top: 25px;
    span{
        div{
            display: inline;
            font-weight: 500;
            text-decoration: underline;
            cursor: pointer;
            &:hover{
                color: rgb(15, 121, 170);
            }
        }
    }
}

.login-links{
    font-size: 12px;
    text-align: right;
}