.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px;
}

register-form{

}

.register-header{
    text-align: center; 
    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 42px;
    }
}

.register-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    input{
        height: 25px;
        margin: 5px;
    }
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px;
}

login-form{

}

.login-header{
    text-align: center; 
    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 42px;
    }
}

.login-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    input{
        height: 25px;
        margin: 5px;
    }
}
