/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Passion+One|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 20px;
}

h2 {
  font-size: 24px;
}

.modal-content {
  z-index: 2000000001;
  transition: all 0.3s cubic-bezier(0.16, 0.8, 0.45, 1);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: scroll;
}

.modal-child {
  margin-top: 100px;
  position: relative;
  width: 600px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 2px 6px -4px rgba(0, 0, 0, 0.2), 0 8px 10px -4px rgba(0, 0, 0, 0.14), 0 8px 12px 4px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding-bottom: 100px;
}

.back-it {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background: #FFFFFF;
  width: 600px;
  height: fit-content;
}
.back-it h1 {
  margin-top: 46px;
  font-size: 24px;
  width: fit-content;
  height: fit-content;
}
.back-it .back-it-sub-container {
  width: 80%;
  margin-top: 62px;
}
.back-it .back-it-sub-container .backit-body {
  height: fit-content;
  width: 100%;
}
.back-it .back-it-sub-container .backit-body .choose-amt-title {
  font-size: 14px;
}
.back-it .back-it-sub-container .backit-body .backit-choose-amt {
  width: 474px;
  height: 125px;
  background-color: #fafafa;
  border: 1px solid #c8c8c8;
  margin-top: 12px;
}
.back-it .back-it-sub-container .backit-body .backit-choose-amt .input-container {
  margin: 27px;
  display: flex;
  flex-wrap: wrap;
}
.back-it .back-it-sub-container .backit-body .backit-choose-amt .input-container .input-sub-container {
  border: 1px solid #ddd;
  background-color: #fff;
  transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border-radius: 2px;
  display: flex;
  align-items: center;
  width: 283px;
  height: 50px;
}
.back-it .back-it-sub-container .backit-body .backit-choose-amt .input-container .input-sub-container input {
  width: 186px;
  height: 44px;
  border: none;
  font-size: 16px;
}
.back-it .back-it-sub-container .backit-body .backit-choose-amt .input-container .input-sub-container #dollar-sign-container {
  width: 38px;
  display: flex;
  justify-content: flex-end;
}
.back-it .back-it-sub-container .backit-body .backit-choose-amt .input-container .input-sub-container #dollar-sign-container #dollar-sign {
  margin-right: 7px;
  width: 8px;
}
.back-it .back-it-sub-container .backit-body .backit-choose-amt .input-container .input-sub-container #usd {
  display: flex;
  width: 62px;
  justify-content: center;
}
.back-it .back-it-sub-container .backit-body .backit-choose-amt .input-container .input-sub-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 11px;
  width: 100px;
}
.back-it .back-it-sub-container .backit-body .backit-choose-amt .input-container .input-sub-container2 .continue-button button {
  color: #4e7a8f;
  border-radius: 2px;
  cursor: pointer;
  min-width: 130px;
  height: 52px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
.back-it .back-it-sub-container .backit-body .backit-choose-amt .input-container #disclaimer {
  margin-top: 12px;
  font-size: 12px;
}
.back-it .back-it-sub-container #perk-items-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}
.back-it .back-it-sub-container #perk-items-list-title {
  margin-top: 38px;
  margin-bottom: 5px;
}
.back-it .back-it-sub-container #perk-items-list .perk-image {
  width: 475px;
  height: 315px;
  object-fit: cover;
}
.back-it .back-it-sub-container #perk-items-list .perk-item-container {
  width: fit-content;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px;
}

.register-form button {
  background-color: #4e7a8f;
  height: 25px;
  margin: 5px;
}

.register-header {
  text-align: center;
  margin: 10px;
}
.register-header h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 42px;
}

.register-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register-inputs input {
  height: 25px;
  margin: 5px;
}
.register-inputs span {
  font-size: 12px;
}

.register-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register-buttons button {
  height: 25px;
  margin: 5px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-buttons button {
  height: 25px;
  margin: 5px;
}
.login-buttons .login-button {
  background-color: #4e7a8f;
}
.login-buttons .fb-button {
  background-color: #4266B2;
}

.login-header {
  text-align: center;
}
.login-header h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 42px;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-inputs input {
  height: 25px;
  width: 100%;
  margin: 5px;
}

.session-switch {
  font-size: 12px;
}

.login-links {
  font-size: 12px;
  text-align: right;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 16px;
}

.nav-container * {
  display: flex;
  align-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
.nav-container *:hover {
  color: #4e7a8f;
}

.logo {
  width: 30px;
  height: 30px;
}

.brand {
  display: flex;
  width: 200px;
}

.wordmark {
  font-family: "Passion One", sans-serif;
  font-size: 36px;
  color: #4e7a8f;
  width: 120px;
}

.search-container * {
  padding: 6px;
}

.explore-container:hover * {
  color: #4e7a8f;
}

.nav-right * {
  padding: 6px;
}

.new-campaign * {
  border-right: 0.75px solid #8e8e8e;
  padding-right: 6px;
}

.login-signup * {
  padding-left: 0px;
}

.new-link {
  padding-right: 12px;
}

.user-menu {
  float: right;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.user-menu a {
  float: right;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 75px;
  right: 0px;
  border: 1px solid #DDDDDD;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content button {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 14px 16px;
}

/* Add a grey background color to dropdown links on hover */
/* Show the dropdown menu on hover */
.user-menu:hover .dropdown-content {
  display: block;
}

.fo-o-fo {
  background: url("https://media1.giphy.com/media/6uGhT1O4sxpi8/giphy.gif") 50% no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
}

.oops {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.oops h1 {
  font-size: 10em;
}
.oops h2 {
  font-size: 2em;
}

.landing-main {
  margin: 6px;
}

.featured-container {
  width: 100%;
  height: 468px;
}

.trending-container {
  position: relative;
  margin-left: 80px;
  margin-right: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

.recents-container {
  margin-left: 80px;
  margin-right: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

.banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 48px;
}

.carousel {
  display: flex;
  overflow: hidden;
  margin: 10px;
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 600px;
  padding: 12px;
}
.news-container .news-header {
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: center;
  padding: 24px;
}
.news-container p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 24px;
}
.news-container .news-body {
  display: flex;
  justify-content: space-evenly;
}
.news-container .news-body .news-article {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 380px;
}
.news-container .news-body .news-article .image-frame {
  height: 250px;
  width: 380px;
}
.news-container .news-body .news-article .image-frame .article-image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.news-container .news-body .news-article .article-title {
  color: black;
  font-size: 16px;
  margin-top: 6px;
}
.news-container .news-body .news-article .article-description {
  color: #6A6A6A;
  font-size: 14px;
}
.news-container .news-body .news-article .article-link {
  color: black;
  text-decoration: none;
}
.news-container .news-body .news-article .article-link:hover {
  color: #4e7a8f;
}

.campaign-listing {
  background-color: white;
  border: 1px solid #DDDDDD;
  width: 275px;
  height: 572px;
  min-width: 275px;
  margin-right: 40px;
  padding: 0;
  transition: all 0.3s ease-in-out;
  transition: transform 300ms ease 100ms;
}
.campaign-listing:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.campaign-listing .link-wrapper {
  text-decoration: none;
  color: inherit;
}
.campaign-listing .campaign-image {
  width: 100%;
  height: 275px;
}
.campaign-listing .campaign-summary {
  text-decoration: none;
  padding: 12px;
}
.campaign-listing .campaign-summary .campaign-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #4e7a8f;
  padding-bottom: 6px;
  border-bottom: 1px solid #DDDDDD;
}
.campaign-listing .campaign-summary .campaign-body {
  padding-top: 12px;
}
.campaign-listing .campaign-summary .campaign-body * {
  margin-bottom: 6px;
}
.campaign-listing .campaign-summary .campaign-body p {
  font-size: 13px;
  color: #6A6A6A;
}
.campaign-listing .campaign-summary .campaign-body h3 {
  font-size: 11px;
  font-weight: 700px;
  text-transform: uppercase;
  color: #6A6A6A;
}
.campaign-listing .campaign-summary .campaign-body .time-remaining {
  display: flex;
  align-items: center;
  align-content: center;
  color: #6A6A6A;
}

.tracker img {
  width: 100%;
}

.raised-bar-item-cont {
  width: 250px;
  margin-top: 5px;
  background-color: #bdbdbd;
  margin-bottom: 5px;
  height: 10px;
  border-radius: 8px;
}

.raised-time-cont {
  display: flex;
}

.campaign-show-header {
  display: flex;
  justify-content: center;
}
.campaign-show-header .campaign-show-header-info {
  margin-left: 20px;
  width: 483px;
  height: 456px;
}
.campaign-show-header .campaign-show-header-info .funding {
  font-size: 14px;
  margin-bottom: 20px;
  color: #4e7a8f;
}
.campaign-show-header .campaign-show-header-info .campaign-show-title {
  font-size: 32px;
  margin-bottom: 20px;
}
.campaign-show-header .campaign-show-header-info .campaign-show-overview {
  font-size: 20px;
  margin-bottom: 24px;
}

.campaign-show-header img {
  max-width: 700px;
}

.campaign-owner {
  display: flex;
  margin-bottom: 32px;
}
.campaign-owner .user-icon-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}
.campaign-owner .user-icon-show .user-img {
  width: 55px;
  height: 44px;
}
.campaign-owner .user-icon-show-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.campaign-owner .user-icon-show-info .user-name {
  font-family: "Passion One", sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 5px;
}

.raised-bar-show-cont {
  width: 485px;
  margin-top: 5px;
  background-color: #bdbdbd;
  margin-bottom: 5px;
  height: 10px;
  border-radius: 8px;
}

.raised-bar {
  background-color: #4e7a8f;
  height: 100%;
  border-radius: 8px;
}

.campaign-show-header-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}
.campaign-show-header-buttons .campaign-show-buttons-container {
  display: flex;
}
.campaign-show-header-buttons .campaign-show-buttons-container .backit {
  margin-right: 14px;
}
.campaign-show-header-buttons .campaign-show-buttons-container .backit button {
  color: #fff;
  background-color: #4e7a8f;
  border: 1px solid #4e7a8f;
  border-radius: 2px;
  cursor: pointer;
  min-width: 112px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
.campaign-show-header-buttons .campaign-show-buttons-container .backit button:hover {
  background-color: #487488;
}
.campaign-show-header-buttons .follow button {
  color: #2a2a2a;
  border-radius: 2px;
  cursor: pointer;
  min-width: 130px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
.campaign-show-header-buttons .follow button .follow-icon {
  transform: translate(0px, 2px);
  padding-right: 5px;
}
.campaign-show-header-buttons .follow button:hover {
  background-color: #f8f8f8;
}
.campaign-show-header-buttons .share-icon-container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.campaign-show-header-buttons .share-icon-container-center .share-icon-container {
  display: flex;
  justify-content: flex-end;
  width: 152px;
}
.campaign-show-header-buttons .share-icon-container-center .share-icon-container .share-icons {
  width: 40px;
  height: 22px;
}

.raised-text-cont {
  display: flex;
  justify-content: space-between;
}

.show-info-container {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}
.show-info-container .show-perks .perk-item {
  height: 430px;
  width: 305px;
  border-style: solid;
  border-width: 2px;
}

.show-center-info-container {
  max-width: 697px;
  margin-right: 20px;
}

.show-info-header {
  margin: 30px 0px 30px 0px;
}

.youtube {
  margin-top: 30px;
}

.perk-image {
  width: 335px;
  height: 224px;
  object-fit: cover;
}

.perk-item-container {
  width: 335px;
  height: 100%;
  border: 0.5px #C8C8C8 solid;
  margin-bottom: 25px;
}

.perk-item-text-container {
  margin: 37px 0px 0px 25px;
}

.usd-text {
  font-size: 15px;
  color: #6a6a6a;
  align-self: flex-end;
  margin-left: 5px;
  transform: translateY(-1px);
}

.show-cost-container {
  display: flex;
  margin-bottom: 25px;
}

.cost-text {
  font-size: 22px;
}

.perk-title {
  margin-bottom: 20px;
}

.ship-inv-head {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bolder;
}

.ship-inv-info {
  margin-bottom: 23px;
  font-weight: 100;
  font-size: 14px;
  color: #6a6a6a;
}

.perk-desc {
  font-weight: 100;
  font-size: 14px;
  color: #6a6a6a;
  margin-bottom: 24px;
}

.get-perk-btn-container {
  display: flex;
  justify-content: center;
}
.get-perk-btn {
  width: 300px;
  height: 40px;
  color: #4e7a8f;
  font-size: 15px;
  border-radius: 1px;
  margin-bottom: 20px;
}

.select-perk {
  margin-bottom: 24px;
}

.create-basics {
  margin: 20px 0px 0px 0px;
}

.create-subhead {
  margin: 50px 0px 20px 0px;
}

.create-campaign-container {
  display: flex;
}

.create-campaign-header {
  width: 100%;
  height: 85px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.camp-basics {
  margin-left: 40px;
}

.campaign-form-container {
  margin-left: 50px;
}

.create-input-txt {
  margin-bottom: 17px;
  font-weight: 100;
  font-size: 14px;
  color: #6a6a6a;
}

.create-txtarea-short {
  width: 755px;
  height: 51px;
  font-size: 14px;
}

.create-txtarea-narrow {
  width: 377px;
  height: 15px;
  font-size: 14px;
}

.create-txtarea-tall {
  width: 755px;
  height: 65px;
  font-size: 14px;
}

.create-img {
  font-size: 16px;
  margin-top: 5px;
}

.create-btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 60px 0px 60px 0px;
  width: 755px;
}
.create-btn-container input {
  width: 160px;
  height: 40px;
  background-color: #6653A5;
  color: white;
  font-size: 15px;
  border-radius: 3px;
}

.vert-image {
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.vert-image-container {
  background: black;
}

.create-date {
  font-size: 14px;
}

.featured-campaign {
  height: 468px;
  width: 100%;
}
.featured-campaign .featured-background {
  height: 500px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.featured-controls {
  position: absolute;
  bottom: 80px;
  margin-top: 512px;
  z-index: 1;
  margin-right: 80px;
  margin-left: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-container {
  border-top: 3px solid #DDDDDD;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  padding-top: 12px;
}

.footer-head {
  font-size: 16px;
  color: #2a2a2a;
  margin-bottom: 5px;
  font-weight: bolder;
}

.footer-li {
  font-size: 14px;
  color: #2a2a2a;
}

.checkout-container {
  display: flex;
  justify-content: center;
  margin-bottom: 51px;
}
.checkout-container .checkout-left {
  height: fit-content;
  width: 773px;
  margin-right: 104px;
}
.checkout-container .checkout-left-info {
  font-family: "Lato", sans-serif;
  margin-top: 39px;
  font-size: 14px;
  letter-spacing: 1.1px;
}
.checkout-container .checkout-left-info h1 {
  margin-top: 6px;
  font-size: 40px;
  margin-bottom: 63px;
}
.checkout-container .checkout-left-info h3 {
  margin-top: 20px;
}
.checkout-container .checkout-left-info .user-badge {
  display: flex;
  height: 60px;
}
.checkout-container .checkout-left-info .user-badge .user-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.checkout-container .checkout-left-info .user-badge .user-img-container .user-img {
  height: 60px;
  width: 75px;
}
.checkout-container .checkout-left-info .user-badge .user-details {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 20px;
}
.checkout-container .checkout-left-info .user-badge .user-details a {
  color: grey;
}
.checkout-container .checkout-left-info .user-details-guest {
  display: flex;
  margin-left: 65px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
}
.checkout-container .checkout-left-info .user-details-guest .login-link {
  margin-left: 12px;
}
.checkout-container .checkout-left-shipping-address {
  margin-top: 62px;
}
.checkout-container .checkout-left-shipping-address h1 {
  font-family: "Lato", sans-serif;
}
.checkout-container .checkout-left-shipping-address-detail {
  margin-top: 20px;
  display: flex;
}
.checkout-container .checkout-left-shipping-address-subtitle {
  margin-top: 7px;
  font-size: 14px;
  color: #727272;
}
.checkout-container .checkout-right {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  height: 700px;
  width: 344px;
  margin-top: 53px;
}
.checkout-container .checkout-right-perk {
  padding: 23px;
  background-color: whitesmoke;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: grey;
}
.checkout-container .checkout-right-perk .checkout-right-review {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
}
.checkout-container .checkout-right-perk .checkout-right-perk-title {
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  margin-top: 20px;
  letter-spacing: 0.05em;
}
.checkout-container .checkout-right-perk .checkout-right-perk-description {
  width: 296px;
  /* height: 84px; */
  height: fit-content;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #8b8585;
}
.checkout-container .checkout-right-perk .checkout-perk-shipping .checkout-perk-shipping-title {
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.05em;
}
.checkout-container .checkout-right-perk .checkout-perk-shipping .checkout-perk-shipping-est {
  display: flex;
  font-size: 14px;
  margin-top: 8px;
  color: #8b8585;
}
.checkout-container .checkout-right-perk .checkout-perk-shipping .checkout-perk-shipping-est .shipping-popup-container {
  transform: translate(137px, -44px);
}
.checkout-container .checkout-right-perk .checkout-perk-shipping .checkout-perk-shipping-est .shipping-popup-container #shipping-popup {
  opacity: 0;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: white;
  width: 277px;
  height: 151px;
  transform: translate(-110px, -170px);
  font-size: 1.2em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.checkout-container .checkout-right-perk .checkout-perk-shipping .checkout-perk-shipping-est .shipping-popup-container #shipping-popup div {
  margin-top: 17px;
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: 24px;
  line-height: 1.4;
}
.checkout-container .checkout-right-perk .checkout-perk-shipping .checkout-perk-shipping-est .shipping-popup-container #shipping-popup .triangle {
  width: 0;
  height: 0;
  border: solid 14px;
  border-color: white transparent transparent transparent;
  transform: translate(89px, -5px);
}
.checkout-container .checkout-right-perk .checkout-perk-shipping .checkout-perk-shipping-est .shipping-popup-container:hover #shipping-popup {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.checkout-container .checkout-right-perk .checkout-perk-shipping .checkout-perk-shipping-est div .question-mark {
  position: absolute;
  margin-left: 8px;
  height: 19px;
  width: 21px;
  transform: translate(0px, -3px);
}
.checkout-container .checkout-right-privacy {
  margin: 0px 20px 0px 20px;
}
.checkout-container .checkout-right-summary {
  padding: 10px 20px 20px 20px;
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  margin-top: 20px;
  letter-spacing: 0.05em;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: grey;
}
.checkout-container .checkout-right-summary div #summary-title {
  margin-bottom: 5px;
}
.checkout-container .checkout-right-summary-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #252525;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
}
.checkout-container .checkout-right-summary-info div #usd {
  font-size: 12px;
}
.checkout-container .checkout-right-summary-total {
  display: flex;
  justify-content: space-between;
}
.checkout-container .checkout-right-summary-total-info {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}
.checkout-container .checkout-right-tos {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.checkout-container .checkout-right-submit {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
}
.checkout-container .checkout-right-submit-button {
  width: 300px;
  height: 40px;
  color: #4e7a8f;
  font-size: 15px;
  border-radius: 1px;
}
.checkout-container input {
  width: 386px;
  height: 50px;
  margin-right: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 14px;
}
.checkout-container .checkbox-container {
  margin-top: 9px;
}
.checkout-container .checkbox-container input.checkbox {
  height: 12px;
  width: 8px;
}

#checkout-right-line {
  border-bottom: 0.5px solid #dcdcdc;
  margin-bottom: 13px;
  width: 100%;
}

#checkout-right-line-2 {
  border-bottom: 0.5px solid #dcdcdc;
  width: 7px;
  transform: translate(0px, -3px);
  border-color: #2c2929;
}

#checkout-right-line-3 {
  border-style: solid;
  border-left: none;
  border-right: none;
  border-width: 0.08em;
  border-color: #dcdcdc;
  margin-top: 27px;
  margin-bottom: 27px;
}

::placeholder {
  /* Firefox, Chrome, Opera */
  color: #afafaf;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #afafaf;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #afafaf;
}

/*# sourceMappingURL=output.css.map */
