/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Passion+One|Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Roboto", sans-serif; }

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px; }

.register-form button {
  background-color: #4e7a8f;
  height: 25px;
  margin: 5px; }

.register-header {
  text-align: center;
  margin: 10px; }
  .register-header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px; }

.register-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .register-inputs input {
    height: 25px;
    margin: 5px; }
  .register-inputs span {
    font-size: 12px; }

.register-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .register-buttons button {
    height: 25px;
    margin: 5px; }

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px; }

.login-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .login-buttons button {
    height: 25px;
    margin: 5px; }
  .login-buttons .login-button {
    background-color: #4e7a8f; }
  .login-buttons .fb-button {
    background-color: #4266B2; }

.login-header {
  text-align: center; }
  .login-header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px; }

.login-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .login-inputs input {
    height: 25px;
    width: 100%;
    margin: 5px; }

.session-switch {
  font-size: 12px; }

.login-links {
  font-size: 12px;
  text-align: right; }

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 16px; }

.nav-container * {
  display: flex;
  align-content: center;
  align-items: center;
  text-decoration: none;
  color: black; }
  .nav-container *:hover {
    color: #4e7a8f; }

.logo {
  width: 30px;
  height: 30px; }

.brand {
  display: flex;
  width: 200px; }

.wordmark {
  font-family: "Passion One", sans-serif;
  font-size: 36px;
  color: #4e7a8f;
  width: 120px; }

.search-container * {
  padding: 6px; }

.explore-container:hover * {
  color: #4e7a8f; }

.nav-right * {
  padding: 6px; }

.new-campaign * {
  border-right: 0.75px solid #8e8e8e;
  padding-right: 6px; }

.login-signup * {
  padding-left: 0px; }

.new-link {
  padding-right: 12px; }

.fo-o-fo {
  background: url("https://media1.giphy.com/media/6uGhT1O4sxpi8/giphy.gif") 50% no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  opacity: .5; }

.oops {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); }
  .oops h1 {
    font-size: 10em; }
  .oops h2 {
    font-size: 2em; }

.landing-main {
  margin: 6px; }

.carousel {
  display: flex;
  overflow: hidden;
  margin: 10px; }

.news img {
  width: 100vw; }

.campaign-listing {
  border: 1px solid #DDDDDD;
  width: 275px;
  min-width: 275px;
  margin-right: 40px;
  padding: 0;
  transition: transform 300ms ease 100ms; }
  .campaign-listing .campaign-image {
    width: 100%;
    height: 275px; }
  .campaign-listing .campaign-summary {
    padding: 12px; }
    .campaign-listing .campaign-summary .campaign-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      color: #4FCA96;
      padding-bottom: 6px;
      border-bottom: 1px solid #DDDDDD; }
    .campaign-listing .campaign-summary .campaign-body {
      padding-top: 12px; }
      .campaign-listing .campaign-summary .campaign-body * {
        margin-bottom: 6px; }
      .campaign-listing .campaign-summary .campaign-body p {
        font-size: 13px;
        color: #6A6A6A; }
      .campaign-listing .campaign-summary .campaign-body h3 {
        font-size: 11px;
        font-weight: 700px;
        text-transform: uppercase;
        color: #6A6A6A; }
      .campaign-listing .campaign-summary .campaign-body .time-remaining {
        display: flex;
        align-items: center;
        align-content: center;
        color: #6A6A6A; }

.tracker img {
  width: 100%; }

.campaign-show-header {
  display: flex;
  justify-content: center; }
  .campaign-show-header .campaign-show-header-info {
    margin-left: 20px;
    width: 483px;
    height: 456px; }
    .campaign-show-header .campaign-show-header-info .funding {
      font-size: 14px;
      margin-bottom: 20px;
      color: #4e7a8f; }
    .campaign-show-header .campaign-show-header-info .campaign-show-title {
      font-size: 32px;
      margin-bottom: 20px; }
    .campaign-show-header .campaign-show-header-info .campaign-show-overview {
      font-size: 20px;
      margin-bottom: 24px; }

.campaign-show-header img {
  max-width: 700px; }

.campaign-owner {
  display: flex;
  margin-bottom: 32px; }
  .campaign-owner .user-icon-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px; }
    .campaign-owner .user-icon-show .user-img {
      width: 55px;
      height: 44px; }
  .campaign-owner .user-icon-show-info {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .campaign-owner .user-icon-show-info .user-name {
      font-family: "Passion One", sans-serif;
      font-size: 20px;
      font-weight: 100;
      margin-bottom: 5px; }

.raised-bar-cont {
  width: 485px;
  margin-top: 5px;
  background-color: #bdbdbd;
  margin-bottom: 5px;
  height: 10px; }

.raised-bar {
  background-color: #4e7a8f;
  height: 100%; }

.campaign-show-header-buttons {
  display: flex;
  margin-top: 28px; }
  .campaign-show-header-buttons .backit {
    margin-right: 14px; }
  .campaign-show-header-buttons .share-icon-container-center {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .campaign-show-header-buttons .share-icon-container-center .share-icon-container {
      display: flex;
      justify-content: flex-end;
      width: 152px; }
      .campaign-show-header-buttons .share-icon-container-center .share-icon-container .share-icons {
        width: 35px; }

.raised-text-cont {
  display: flex;
  justify-content: space-between; }

/*# sourceMappingURL=output.css.map */
